.container {
  padding-top: 4px;
  padding-bottom: 8px;

  ::before {
    content: '';
    position: relative;
    display: block;
    width: 110px;
    height: 2px;
    background: #ddd;
    top: 51.25px;
    left: calc(50% - 55px);
    border-radius: 100px;
  }

  ::after {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 4px;
    background: var(--mantine-primary-color-6);
    top: 2px;
    left: calc(50% - 20px);
  }
}
