::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 12px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 2px solid #f4f4f4;
}
::-webkit-scrollbar-button {
  display: none;
}
